/* 
    Colors used:
    #F20530
    #121D26
    #5E778C
    #A0D3F2
    #A0DBF2
*/

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500i,700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto',sans-serif;
}

a{
    text-decoration: none;
}

p{
    margin: 0.75rem 0;
}

/* Utility classes */
.text-primary{
    color:#F20530 ;
}

/* Navbar */
#navbar{
    display: flex;
    position: sticky;
    top: 0;
    background: #F2F2F2;
    color:#0D0D0D;
    justify-content: space-between;
    z-index: 1;
    padding: 1rem;
}

#navbar ul{
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar ul li a{
    color: #0D0D0D;
    padding: 0.75rem;
    margin: 0 0.25rem;
}

#navbar ul li a:hover{
    background: #F2636F;
    border-radius: 5px;
    cursor: pointer;

}