/* 
    Colors used:
    #F20530
    #F2636F
    #5E778C
    #A0D3F2
    #A0DBF2
*/

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500i,700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #161111;
    font-family: 'Roboto',sans-serif;
    line-height: 1.4;
}

a{
    text-decoration: none;
}

p{
    margin: 0.75rem 0;
}

/* Utility classes */
.text-center{
    text-align: center;
}

.container{
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

.text-primary{
    color:#05F2AF ;
}

.l-heading{
font-size: 3rem;
line-height: 1.1;
margin-bottom: 0.75rem;
}
.m-heading{
font-size: 2rem;
line-height: 1.1;
margin-bottom: 0.75rem;
}

.lead{
font-size: 1.3rem;
margin-bottom: 2rem;
}

.py-1{padding: 1.5rem 0;}
.py-2{padding: 2rem 0;}
.py-3{padding: 3rem 0;}

.btn{
display: inline-block;
background: #05F2AF;
padding: 0.5rem 2rem;
color: #161111;
border-radius: 5px;
border: none;
}

.btn:hover{
    background: #04D99D;
}

.btn-dark{
    background: #26010B;
    color: #fff;
}

/* Navbar */
#navbar{
    display: flex;
    position: sticky;
    top: 0;
    background: rgb(14, 0, 4);
    color: #ffffff;
    justify-content: space-between;
    z-index: 1;
    padding: 1rem;
}

#navbar ul{
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar ul li a{
    color: #ffffff;
    padding: 0.75rem;
    margin: 0 0.25rem;
}

#navbar ul li a:hover{
    background: #05F2AF;
    border-radius: 5px;
    cursor: pointer;

}

/* Showcase */

#showcase{
    background: #333 url(https://images.pexels.com/photos/417273/pexels-photo-417273.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260) no-repeat center center/cover;
    height: 100vh;
    color: #fff;
}

#showcase .showcase-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 2rem;
    /* Overlay */
    position: absolute;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Section: What we do */
#what .items{
    display: flex;
    padding: 1rem;
}

#what .items .item{
    flex: 1;
    text-align: center;
    padding: 1rem;
}

#what .items .item i{
    background: #05F2AF;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}

d